@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.image-gallery{
    width: 50%;
    max-height: 500px;
}

.image-gallery-image{
    min-height: 500px;
    max-height: 500px!important;
}
